<?xml version="1.0"?>
<config>
    <modules>
        <TTS_OnePageCheckout>
            <version>1.4.1</version>
        </TTS_OnePageCheckout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <TTS_OnePageCheckout before="Mage_Checkout">TTS_OnePageCheckout</TTS_OnePageCheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <onepagecheckout>
                    <file>tts/onepagecheckout.xml</file>
                </onepagecheckout>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <onepagecheckout_setup>
                <setup>
                    <module>TTS_OnePageCheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepagecheckout_setup>
            <onepagecheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onepagecheckout_write>
            <onepagecheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onepagecheckout_read>
        </resources>
        <blocks>
            <giftmessage>
                <rewrite>
                    <message_inline>TTS_OnePageCheckout_Block_GiftMessage_Inline</message_inline>
                </rewrite>
            </giftmessage>
            <onepagecheckout>
                <class>TTS_OnePageCheckout_Block</class>
            </onepagecheckout>
        </blocks>
        <models>
            <onepagecheckout>
                <class>TTS_OnePageCheckout_Model</class>
            </onepagecheckout>
        </models>
        <helpers>
            <onepagecheckout>
                <class>TTS_OnePageCheckout_Helper</class>
            </onepagecheckout>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_onepage_checkout>
                <observers>
                    <onepagecheckout>
                        <type>singleton</type>
                        <class>onepagecheckout/config_observer</class>
                        <method>afterSaveOnepagecheckoutSettings</method>
                    </onepagecheckout>
                </observers>
            </admin_system_config_changed_section_onepage_checkout>
            <admin_system_config_changed_section_checkout>
                <observers>
                    <onepagecheckout>
                        <type>singleton</type>
                        <class>onepagecheckout/config_observer</class>
                        <method>afterSaveOrignCheckoutSettings</method>
                    </onepagecheckout>
                </observers>
            </admin_system_config_changed_section_checkout>
            <admin_system_config_changed_section_shipping>
                <observers>
                    <onepagecheckout>
                        <type>singleton</type>
                        <class>onepagecheckout/config_observer</class>
                        <method>afterSaveOrignShippingSettings</method>
                    </onepagecheckout>
                </observers>
            </admin_system_config_changed_section_shipping>
            <admin_system_config_changed_section_sales>
                <observers>
                    <onepagecheckout>
                        <type>singleton</type>
                        <class>onepagecheckout/config_observer</class>
                        <method>afterSaveOrignSalesSettings</method>
                    </onepagecheckout>
                </observers>
            </admin_system_config_changed_section_sales>
        </events>
    </adminhtml>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onepage_checkout translate="title" module="onepagecheckout">
                                            <title><![CDATA[Web & People: OnePage Checkout]]></title>
                                            <sort_order>2000</sort_order>
                                        </onepage_checkout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <onepage_checkout>
            <general>
                <enabled>0</enabled>
                <ie6_ignore>1</ie6_ignore>
                <version>1.4.1</version>
                <update_total_after_payment>0</update_total_after_payment>
            </general>
        </onepage_checkout>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <about_ttstech translate="title" module="onepagecheckout">
                                            <title><![CDATA[Web & People: About Us]]></title>
                                            <sort_order>1000</sort_order>
                                        </about_ttstech>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
