<?xml version="1.0"?>
<config>
	<modules>
        <CJM_AutoSwatchesPlus>
            <version>2.6.0</version>
        </CJM_AutoSwatchesPlus>
    </modules>
	<global>
		<models>
            <autoswatchesplus>
                <class>CJM_AutoSwatchesPlus_Model</class>
            </autoswatchesplus> 
        </models>
		<blocks>
            <autoswatchesplus>
                <class>CJM_AutoSwatchesPlus_Block</class>
            </autoswatchesplus>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>CJM_AutoSwatchesPlus_Block_Rewrite_Adminhtml_Catalog_Product_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
					<catalog_product_helper_form_gallery_content>CJM_AutoSwatchesPlus_Block_Rewrite_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                </rewrite>
            </adminhtml>
        </blocks>
		<resources>
    		<autoswatchesplus_setup>
      			<setup>
        			<module>CJM_AutoSwatchesPlus</module>
      			</setup>
      			<connection>
        			<use>core_setup</use>
      			</connection>
    		</autoswatchesplus_setup>
    		<autoswatchesplus_write>
      			<connection>
        			<use>core_write</use>
      			</connection>
    		</autoswatchesplus_write>
			<autoswatchesplus_read>
      			<connection>
        			<use>core_read</use>
      			</connection>
    		</autoswatchesplus_read>
		</resources>			
		<helpers>
            <autoswatchesplus>
                <class>CJM_AutoSwatchesPlus_Helper</class>
            </autoswatchesplus>
        </helpers>
	</global>
	<frontend>
        <routers>
			<AutoSwatchesPlus>
                <use>standard</use>
                <args>
                    <module>CJM_AutoSwatchesPlus</module>
                    <frontName>autoswatchesplus</frontName>
                </args>
            </AutoSwatchesPlus>
        </routers>
		<layout>
            <updates>
                <autoswatchesplus>
					<file>autoswatchesplus.xml</file>
                </autoswatchesplus>
            </updates>
        </layout>
	</frontend>
	<default>
        <color_selector_plus>
            <autoswatchesplusgeneral>
                <size>25</size>
				<title>Choose an option</title>
				<hidedropdown>1</hidedropdown>
				<hidebase>0</hidebase>
            </autoswatchesplusgeneral>
        </color_selector_plus>
    </default>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<auto_swatches_plus translate="title" module="autoswatchesplus">
											<title>Color Selector+ Section</title>
											<sort_order>50</sort_order>
										</auto_swatches_plus>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
                <args>
                    <modules>
                         <CJM_AutoSwatchesPlus_Override before="Mage_Adminhtml">CJM_AutoSwatchesPlus_Override_Admin</CJM_AutoSwatchesPlus_Override>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>			
</config>