<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Sociallogin>
            <version>0.1.0</version>
        </Apptha_Sociallogin>
    </modules>
    <frontend>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>Apptha_Sociallogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
            
        </routers>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Apptha_Sociallogin>
                    <files>
                        <default>Apptha_Sociallogin.csv</default>
                    </files>
                </Apptha_Sociallogin>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<sociallogin>
				<use>admin</use>
				<args>
					<module>Apptha_Sociallogin</module>
					<frontName>sociallogin</frontName>
				</args>
			</sociallogin>
        </routers>
    </admin>
    <adminhtml>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_Sociallogin>
							<title>Sociallogin Module</title>
							<sort_order>10</sort_order>
						</Apptha_Sociallogin>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sociallogin>
					<file>sociallogin.xml</file>
				</sociallogin>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sociallogin>
                <class>Apptha_Sociallogin_Model</class>
                <resourceModel>sociallogin_mysql4</resourceModel>
            </sociallogin>
            <sociallogin_mysql4>
                <class>Apptha_Sociallogin_Model_Mysql4</class>
                <entities>
                    <sociallogin>
                        <table>sociallogin</table>
                    </sociallogin>
                </entities>
            </sociallogin_mysql4>
        </models>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>Apptha_Sociallogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sociallogin_setup>
            <sociallogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sociallogin_write>
            <sociallogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sociallogin_read>
        </resources>
        <blocks>
            <sociallogin>
                <class>Apptha_Sociallogin_Block</class>
            </sociallogin>
        </blocks>
        <helpers>
            <sociallogin>
                <class>Apptha_Sociallogin_Helper</class>
            </sociallogin>
        </helpers>
        <rewrite>
        <apptha_sociallogin_login>

                <from><![CDATA[ #^/customer/account/login/#  ]]>
                </from>

                <to>/sociallogin/index/login/</to>

            </apptha_sociallogin_login>
           </rewrite>
            <rewrite>
              <apptha_sociallogin_create>
                <from><![CDATA[ #^/customer/account/create/#  ]]></from>
                <to>/sociallogin/index/create/</to>
            </apptha_sociallogin_create>
            </rewrite>
        <translate>
            <modules>
                <Apptha_Sociallogin>
                    <files>
                        <default>appthasociallogin.csv</default>
                    </files>
                </Apptha_Sociallogin>
            </modules>
        </translate>
    </global>
</config>