/* Swatch Styles */

.swatchesContainer {
	padding-top:0px;
}

.swatchesContainerPadded {
	padding-top:15px;
}

.swatchLabel {
	font-weight:normal!important;
}

.disabledSwatch {
	display:none;	
}

.swatchSelect {
	display:none;
}

.swatchContainer {
	display:inline;
}

.swatch {
	padding:2px; 
	display:inline; 
	cursor:pointer; 
	float:left;
	margin-bottom: 4px;
	margin-left: 8px;
	border: 1px solid #e1e1e1;
}

.swatchSelected {
	padding:2px; 
	display:inline; 
	cursor:pointer; 
	float:left;
	margin-bottom: 4px;
	margin-left: 8px;
	border: 1px solid #000000;
}
