<?xml version="1.0"?>
<config>
    <modules>
        <Luclong_Community>
            <version>0.1.1</version>
        </Luclong_Community>
    </modules>
    <frontend>
        <routers>
            <community>
                <use>standard</use>
                <args>
                    <module>Luclong_Community</module>
                    <frontName>community</frontName>
                </args>
            </community>
        </routers>
        <layout>
            <updates>
                <community>
                    <file>community.xml</file>
                </community>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<community>
				<use>admin</use>
				<args>
					<module>Luclong_Community</module>
					<frontName>community</frontName>
				</args>
			</community>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<community module="community">
				<title>Community</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="community">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>community/adminhtml_community</action>
					</items>
				</children>
			</community>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Luclong_Community>
							<title>Community Module</title>
							<sort_order>10</sort_order>
						</Luclong_Community>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<community>
					<file>community.xml</file>
				</community>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <community>
                <class>Luclong_Community_Model</class>
                <resourceModel>community_mysql4</resourceModel>
            </community>
            <community_mysql4>
                <class>Luclong_Community_Model_Mysql4</class>
                <entities>
                    <community>
                        <table>community</table>
                    </community>
                </entities>
            </community_mysql4>
        </models>
        <resources>
            <community_setup>
                <setup>
                    <module>Luclong_Community</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </community_setup>
            <community_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </community_write>
            <community_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </community_read>
        </resources>
        <blocks>
            <community>
                <class>Luclong_Community_Block</class>
            </community>
        </blocks>
        <helpers>
            <community>
                <class>Luclong_Community_Helper</class>
            </community>
        </helpers>
    </global>
</config>