<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <NBSSystem_Nitrogento>
            <version>1.2.6</version>
        </NBSSystem_Nitrogento>
    </modules>
    <global>
        <cache>
            <types>
                <fullpage>
                    <label>Nitrogento Fullpage Cache</label>
                    <description>Nitrogento Fullpage Cache</description>
                    <tags>FULLPAGE</tags>
                </fullpage>
            </types>
        </cache>
        <blocks>
            <nitrogento>
                <class>NBSSystem_Nitrogento_Block</class>
            </nitrogento>
        </blocks>
        <helpers>
            <nitrogento>
                <class>NBSSystem_Nitrogento_Helper</class>
            </nitrogento>
        </helpers>
        <models>
            <nitrogento>
                <class>NBSSystem_Nitrogento_Model</class>
                <resourceModel>nitrogento_mysql4</resourceModel>
            </nitrogento>
            <nitrogento_mysql4>
                <class>NBSSystem_Nitrogento_Model_Mysql4</class>
                <entities>
                    <cache_blockhtml_config><table>cache_blockhtml_config</table></cache_blockhtml_config>
                    <cache_blockhtml_learning><table>cache_blockhtml_learning</table></cache_blockhtml_learning>
                    <cache_fullpage_config><table>cache_fullpage_config</table></cache_fullpage_config>
                </entities>
            </nitrogento_mysql4>
        </models>
        <resources>
            <nitrogento_setup>
                <setup>
                    <module>NBSSystem_Nitrogento</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nitrogento_setup>
            <nitrogento_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nitrogento_write>
            <nitrogento_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nitrogento_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <nitrogento_core_storemap_1>
                        <class>NBSSystem_Nitrogento_Model_Core_Storemap</class>
                        <method>save</method>
                    </nitrogento_core_storemap_1>
                </observers>
            </controller_front_init_routers>
            <sales_order_place_after>
                <observers>
                    <nitrogento_cache_observer_9>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanOrderItemsCache</method>
                    </nitrogento_cache_observer_9>
                </observers>
            </sales_order_place_after>
            <cataloginventory_stock_item_save_before>
                <observers>
                    <nitrogento_cache_observer_12>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanStockItemCache</method>
                    </nitrogento_cache_observer_12>
                </observers>
            </cataloginventory_stock_item_save_before>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <nitrogento_cache_observer_13>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanStockItemCache</method>
                    </nitrogento_cache_observer_13>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nitrogento before="Mage_Adminhtml">NBSSystem_Nitrogento_Adminhtml</nitrogento>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <nitrogento>
                    <file>nitrogento.xml</file>
                </nitrogento>
            </updates>
        </layout>
        <translate>
            <modules>
                <NBSSystem_Nitrogento>
                    <files>
                        <default>NBSSystem_Nitrogento.csv</default>
                    </files>
                </NBSSystem_Nitrogento>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <nitrogento_cache_observer_1>
                        <class>nitrogento/cache_observer</class>
                        <method>addProductDeleteCacheMassAction</method>
                    </nitrogento_cache_observer_1>
                    <nitrogento_cache_observer_2>
                        <class>nitrogento/cache_observer</class>
                        <method>addCategoryDeleteCacheAction</method>
                    </nitrogento_cache_observer_2>
                </observers>
            </adminhtml_block_html_before>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <nitrogento_cache_observer_11>
                        <class>nitrogento/cache_observer</class>
                        <method>validateLicenceKey</method>
                    </nitrogento_cache_observer_11>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <nitrogento_cache_observer_3>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanNitrogentoCache</method>
                    </nitrogento_cache_observer_3>
                    <nitrogento_core_storemap_4>
                        <class>NBSSystem_Nitrogento_Model_Core_Storemap</class>
                        <method>delete</method>
                    </nitrogento_core_storemap_4>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <cms_page_save_after>
                <observers>
                    <nitrogento_cache_observer_14>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanCmsPageCache</method>
                    </nitrogento_cache_observer_14>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_after>
                <observers>
                    <nitrogento_cache_observer_15>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanCmsPageCache</method>
                    </nitrogento_cache_observer_15>
                </observers>
            </cms_page_delete_after>
            <catalog_product_save_after>
                <observers>
                    <nitrogento_cache_observer_4>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanProductCategoriesCache</method>
                    </nitrogento_cache_observer_4>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <nitrogento_cache_observer_5>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanProductCategoriesCache</method>
                    </nitrogento_cache_observer_5>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <nitrogento_cache_observer_6>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanCategoryCache</method>
                    </nitrogento_cache_observer_6>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <nitrogento_cache_observer_7>
                        <class>nitrogento/cache_observer</class>
                        <method>cleanCategoryCache</method>
                    </nitrogento_cache_observer_7>
                </observers>
            </catalog_category_delete_after>
            <store_save_after>
                <observers>
                    <nitrogento_core_storemap_2>
                        <class>NBSSystem_Nitrogento_Model_Core_Storemap</class>
                        <method>delete</method>
                    </nitrogento_core_storemap_2>
                </observers>
            </store_save_after>
            <store_delete_after>
                <observers>
                    <nitrogento_core_storemap_3>
                        <class>NBSSystem_Nitrogento_Model_Core_Storemap</class>
                        <method>delete</method>
                    </nitrogento_core_storemap_3>
                </observers>
            </store_delete_after>
            <controller_action_postdispatch_adminhtml_compiler_process_run>
            	<observers>
                    <nitrogento_core_storemap_3>
                        <class>NBSSystem_Nitrogento_Model_Core_Storemap</class>
                        <method>delete</method>
                    </nitrogento_core_storemap_3>
                </observers>
            </controller_action_postdispatch_adminhtml_compiler_process_run>
        </events>
        <menu>
            <system>
                <children>
                    <nitrogento>
                        <title>Nitrogento</title>
                        <sort_order>91</sort_order>
                        <children>
                            <cache translate="title">
                                <title>Cache</title>
                                <sort_order>1</sort_order>
                                <children>
                                    <blockhtml_config translate="title">
                                        <title>Blockhtml</title>
                                        <action>adminhtml/cache_blockhtml_config</action>
                                    </blockhtml_config>
                                    <fullpage_config translate="title">
                                        <title>Fullpage</title>
                                        <action>adminhtml/cache_fullpage_config</action>
                                    </fullpage_config>
                                </children>
                            </cache>
                            <htaccess_config>
                                <title>Htaccess</title>
                                <action>adminhtml/htaccess_config</action>
                                <sort_order>10</sort_order>
                            </htaccess_config>
                        </children>
                    </nitrogento>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <nitrogento>
                                    <title>Nitrogento</title>
                                    <children>
                                        <cache translate="title">
                                            <title>Cache</title>
                                            <sort_order>1</sort_order>
                                            <children>
                                                <blockhtml_config translate="title">
                                                    <title>Blockhtml</title>
                                                </blockhtml_config>
                                                <fullpage_config translate="title">
                                                    <title>Fullpage</title>
                                                </fullpage_config>
                                            </children>
                                        </cache>
                                        <htaccess_config translate="title">
                                            <title>Htaccess</title>
                                            <sort_order>10</sort_order>
                                        </htaccess_config>
                                    </children>
                                </nitrogento>
                                <config>
                                    <children>
                                        <nitrogento translate="title">
                                            <title>Nitrogento</title>
                                            <sort_order>53</sort_order>
                                        </nitrogento>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <nitrogento_cache_blockhtml_observer_1>
                        <type>singleton</type>
                        <class>nitrogento/cache_blockhtml_observer</class>
                        <method>startTimer</method>
                    </nitrogento_cache_blockhtml_observer_1>
                    <nitrogento_cache_blockhtml_observer_2>
                        <type>singleton</type>
                        <class>nitrogento/cache_blockhtml_observer</class>
                        <method>decidePutBlockInCache</method>
                    </nitrogento_cache_blockhtml_observer_2>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <nitrogento_cache_blockhtml_observer_4>
                        <type>singleton</type>
                        <class>nitrogento/cache_blockhtml_observer</class>
                        <method>addBlockInLearningMode</method>
                    </nitrogento_cache_blockhtml_observer_4>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_load_before>
                <observers>
                    <nitrogento_cache_fullpage_observer_2>
                        <class>nitrogento/cache_fullpage_observer</class>
                        <method>disableReportsProductDisplay</method>
                    </nitrogento_cache_fullpage_observer_2>
                    <nitrogento_cache_fullpage_cookie_1>
                        <class>nitrogento/cache_fullpage_cookie</class>
                        <method>setNitrogentoCacheFullpage</method>
                        <type>singleton</type>
                    </nitrogento_cache_fullpage_cookie_1>
                    <nitrogento_cache_observer_10>
                        <class>nitrogento/cache_observer</class>
                        <method>disableCatalogSessionMemorizeParams</method>
                    </nitrogento_cache_observer_10>
                    <nitrogento_optimization_observer_1>
                        <class>nitrogento/optimization_observer</class>
                        <method>addSpriteCss</method>
                    </nitrogento_optimization_observer_1>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_postdispatch>
                <observers>
                    <nitrogento_optimization_observer_2>
                        <type>singleton</type>
                        <class>nitrogento/optimization_observer</class>
                        <method>observeHtml</method>
                    </nitrogento_optimization_observer_2>
                    <nitrogento_cache_fullpage_observer_5>
                        <class>nitrogento/cache_fullpage_observer</class>
                        <method>decidePutPageInCache</method>
                        <type>singleton</type>
                    </nitrogento_cache_fullpage_observer_5>
                    <nitrogento_cache_fullpage_cookie_2>
                        <class>nitrogento/cache_fullpage_cookie</class>
                        <method>sendCookie</method>
                        <type>singleton</type>
                    </nitrogento_cache_fullpage_cookie_2>
                </observers>
            </controller_action_postdispatch>
        </events>
        <layout>
            <updates>
                <nitrogento>
                    <file>nitrogento.xml</file>
                </nitrogento>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <nitrogento_clean_old_cache_entries>
                <schedule><cron_expr>0 */2 * * *</cron_expr></schedule>
                <run><model>nitrogento/cache_observer::cleanOldCacheEntries</model></run>
            </nitrogento_clean_old_cache_entries>
        </jobs>
    </crontab>
</config>