<?xml version="1.0"?>
<config>
    <modules>
        <Luclong_Marketing>
            <version>0.1.0</version>
        </Luclong_Marketing>
    </modules>
    <frontend>
        <routers>
            <marketing>
                <use>standard</use>
                <args>
                    <module>Luclong_Marketing</module>
                    <frontName>marketing</frontName>
                </args>
            </marketing>
        </routers>
        <layout>
            <updates>
                <marketing>
                    <file>marketing.xml</file>
                </marketing>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<marketing>
				<use>admin</use>
				<args>
					<module>Luclong_Marketing</module>
					<frontName>marketing</frontName>
				</args>
			</marketing>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<marketing module="marketing">
				<title>Marketing</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="marketing">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>marketing/adminhtml_marketing</action>
					</items>
				</children>
			</marketing>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Luclong_Marketing>
							<title>Marketing Module</title>
							<sort_order>10</sort_order>
						</Luclong_Marketing>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<marketing>
					<file>marketing.xml</file>
				</marketing>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <marketing>
                <class>Luclong_Marketing_Model</class>
                <resourceModel>marketing_mysql4</resourceModel>
            </marketing>
            <marketing_mysql4>
                <class>Luclong_Marketing_Model_Mysql4</class>
                <entities>
                    <marketing>
                        <table>marketing</table>
                    </marketing>
                </entities>
            </marketing_mysql4>
        </models>
        <resources>
            <twomarketing_setup>
                <setup>
                    <module>Luclong_Marketing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </twomarketing_setup>
            <marketing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketing_write>
            <marketing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketing_read>
        </resources>
        <blocks>
            <marketing>
                <class>Luclong_Marketing_Block</class>
            </marketing>
        </blocks>
        <helpers>
            <marketing>
                <class>Luclong_Marketing_Helper</class>
            </marketing>
        </helpers>
		<template>
            <email>
                <marketing_email_msg translate="label" module="marketing">
                    <label>Thông báo từ cuộc thi tôi đẹp trong mắt ai</label>
                    <file>marketing/msg.html</file>
                    <type>html</type>
                </marketing_email_msg>
            </email>
        </template>
    </global>
</config>