<!--@subject {{var order.getStoreGroupName()}}: Shipment # {{var shipment.increment_id}} for Order # {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Xin ch&agrave;o {{var order.getCustomerName()}}</strong>,<br/>
                        C&#7843;m &#417;n b&#7841;n &#273;&atilde; &#273;&#7863;t h&agrave;ng t&#7841;i h&#7879; th&#7889;ng si&ecirc;u th&#7883; tr&#7921;c tuy&#7871;n {{var order.getStoreGroupName()}}.
                        B&#7841;n c&oacute; th&#7875; ki&#7875;m tra tr&#7841;ng th&aacute;i &#273;&#417;n h&agrave;ng b&#7857;ng c&aacute;ch <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">&#273;&#259;ng nh&#7853;p v&agrave;o t&agrave;i kho&#7843;n</a>.</p>
                            <p>N&#7871;u b&#7841;n g&#7863;p s&#7921; c&#7889; nh&#432; th&#7871; n&agrave;o, m&#7901;i b&#7841;nemail qua <a href="mailto:support@ttstech.com" style="color:#1E7EC8;">support@ttstech.com</a> Ho&#7863;c g&#7885;i cho ch&uacute;ng t&ocirc;i s&#7889;: <span class="nobr">(84-8) 39168992 - 39168993 - 39168994. </span> T&#7915; th&#7913; 2 &#273;&#7871;n th&#7913; 7, s&aacute;ng t&#7915; 7h30 - 11h30 chi&#7873;u t&#7915; 1h30 - 5h30. Ngo&agrave;i gi&#7901; xin li&ecirc;n h&#7879; qua s&#7889;: 090.2006.206</p>
<p>
                        Th&ocirc;ng tin &#273;&#417;n &#273;&#7863;t h&agrave;ng c&#7911;a b&#7841;n &#273;&#432;&#7907;c x&aacute;c nh&#7853;n v&#7899;i nh&#7919;ng th&ocirc;ng tin sau:
                    </p>

                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        L&ocirc; h&agrave;ng c&#7911;a b&#7841;n s&#7889;: {{var shipment.increment_id}} cho &#273;&#417;n h&agrave;ng s&#7889;: {{var order.increment_id}}
                    </h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin thanh to&aacute;n:</th>
                          <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c thanh to&aacute;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                Tên Khách Hàng: {{var order.billing_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Th&ocirc;ng tin nh&#7853;n h&agrave;ng:</th>
                          <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Ph&#432;&#417;ng th&#7913;c v&#7853;n chuy&#7875;n:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                 {{var order.shipping_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                 {{var order.shipping_description}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}

                    <br/>
                    {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                    <p>{{var comment}}</p>
                    <p>
                        C&#7843;m &#417;n,<br/>
                        <strong>{{var order.getStoreGroupName()}}</strong>
                    - Hotline:  090.2006.206</p>
                </td>
          </tr>
        </table>
    </td>
</tr>
</table>
</div>