<?xml version="1.0"?>
<config>
    <modules>
        <Luclong_Mixmatch>
            <version>0.1.0</version>
        </Luclong_Mixmatch>
    </modules>
    <frontend>
        <routers>
            <mixmatch>
                <use>standard</use>
                <args>
                    <module>Luclong_Mixmatch</module>
                    <frontName>mixmatch</frontName>
                </args>
            </mixmatch>
        </routers>
        <layout>
            <updates>
                <mixmatch>
                    <file>mixmatch.xml</file>
                </mixmatch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mixmatch>
				<use>admin</use>
				<args>
					<module>Luclong_Mixmatch</module>
					<frontName>mixmatch</frontName>
				</args>
			</mixmatch>
        </routers>
    </admin>
  
    <global>
		<models>
            <mixmatch>
                <class>Luclong_Mixmatch_Model</class>
                <resourceModel>mixmatch_mysql4</resourceModel>
            </mixmatch>
            <mixmatch_mysql4>
                <class>Luclong_Mixmatch_Model_Mysql4</class>
                <entities>
                    <mixmatch>
                        <table>mixmatch</table>
                    </mixmatch>
                </entities>
            </mixmatch_mysql4>
        </models>
        <resources>
            <mixmatch_setup>
                <setup>
                    <module>Luclong_Mixmatch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mixmatch_setup>
            <mixmatch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mixmatch_write>
            <mixmatch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mixmatch_read>
        </resources>
       
        <blocks>
            <mixmatch>
                <class>Luclong_Mixmatch_Block</class>
            </mixmatch>
        </blocks>
        <helpers>
            <mixmatch>
                <class>Luclong_Mixmatch_Helper</class>
            </mixmatch>
        </helpers>
    </global>
</config>