<?xml version="1.0"?>
<config>
    <modules>
        <FavoredMinds_VendorMiniSite>
            <version>1.0</version>
        </FavoredMinds_VendorMiniSite>
    </modules>
    <frontend>
        <routers>
            <vendorms>
                <use>standard</use>
                <args>
                    <module>FavoredMinds_VendorMiniSite</module>
                    <frontName>vendorms</frontName>
                </args>
            </vendorms>
        </routers>
        <layout>
            <updates>
                <vendorms>
                    <file>favoredminds_vendorminisite.xml</file>
                </vendorms>
            </updates>
        </layout>
    </frontend>
  
    
    <global>
        <models>
            <vendorms>
                <class>FavoredMinds_VendorMiniSite_Model</class>               
            </vendorms>           
        </models>
        <resources>
            <vendorms_setup>
                <setup>
                    <module>FavoredMinds_VendorMiniSite</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorms_setup>
            <vendorms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorms_write>
            <vendorms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorms_read>
        </resources>
        <blocks>
            <vendorms>
                <class>FavoredMinds_VendorMiniSite_Block</class>
            </vendorms>
        </blocks>
        <helpers>
            <vendorms>
                <class>FavoredMinds_VendorMiniSite_Helper</class>
            </vendorms>
        </helpers>
    </global>
</config>
