#login-link {
    margin: 8px 8px 0 0;
}

.onepagecheckout.opc .checkout-agreements .agree {
    padding:5px 0 0;
}

.onepagecheckout .column-left {
    float: left;
    width: 35%;
    margin-right: 10px;
}

.onepagecheckout .column-right {
    float: left;
    width: 63%;
}

#opc-shipping,
#opc-review {
    margin-top: 10px;
}

#opc-shipping_method {
    float: left;
    width: 44%;
    margin-right:10px;
}

#opc-payment {
    float: left;
    width: 54%;
}

#checkout-review-table {
    border-collapse: collapse;
}

.onepagecheckout .form-list li {
    clear: both;
    width: 100%;
}

.onepagecheckout.opc .step {
    padding: 15px 0px 15px 30px;
}

#allow-gift-messages-for-order-container {
    margin-bottom: 10px;
}

#checkout-step-payment p,
#checkout-step-shipping_method p {
    margin-right: 30px;
}

.onepagecheckout .form-list .fields .field {
    float: left;
    width: 49%;
}

.onepagecheckout .gift-messages-form .item .details .form-list .input-box,
.onepagecheckout .form-list .fields .input-box {
    width: 100%;
}

.onepagecheckout .gift-messages-form .item .details .form-list input.input-text,
.onepagecheckout .form-list .fields input.input-text {
    width: 80%;
}

.onepagecheckout .form-list input.input-text {
    width: 88%;
}

.onepagecheckout .form-list .input-box select {
    width: 90%;
}

div.wp-one-page-checkout-popup.opc .form-list input.input-text,
.onepagecheckout .form-list .input-box textarea {
    width: 98%;
}

div.wp-one-page-checkout-popup.opc .form-list .input-box,
.onepagecheckout .form-list .input-box,
.onepagecheckout .form-list li.wide .input-box,
.onepagecheckout .gift-messages-form .item .details .form-list li.wide .input-box {
    clear: both;
    width: 100%;
}

.onepagecheckout .gift-messages p {
    margin:0;
    padding: 0 0 5px;
}

.onepagecheckout .clear {
    clear:both;
}

#onepage-checkout-shipping-method-additional-load {
    margin:0px;
    padding:20px 30px 0;
}

#allow-gift-message-container {
    margin:0;
}

.onepagecheckout.opc .gift-messages-form .inner-box {
    overflow:none;
    height:auto;
}

.updateInfo{
    position:fixed;
    left:50%;
    top:45%;
    width:220px;
    margin-left:-110px;
    padding:8px 8px 8px 35px;
    border:1px solid #0A263C;
    background-image: url('../../../images/tts/onepagecheckout/progress.gif');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-color: #fff;

    font-weight: bold;
    -moz-box-shadow: 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px #999;
    box-shadow: 3px 3px 3px #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    _position:absolute;
    _top:0;
}

div.wp-one-page-checkout-popup.opc .active .step-title .number,
.onepagecheckout.opc .active .step-title .number {
    width:8px;
    height:15px;
    background-image: url('../../../images/tts/onepagecheckout/numeration.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: #FFF;
}

#opc-billing .number {
    background-position: 0px 0px;
}

#opc-shipping .number {
    background-position: -15px 0px;
}

#opc-shipping_method .number {
    background-position: -30px 0px;
}

#opc-payment .number {
    background-position: -45px 0px;
}

#opc-review .number {
    background-position: -60px 0px;
}

.shipping_as_billing #opc-shipping_method .number {
    background-position: -15px 0px;
}

.shipping_as_billing #opc-payment .number {
    background-position: -30px 0px;
}

.login .form-list {
    margin:0 0 20px;
}

div.wp-one-page-checkout-popup {
    z-index: 999999;
}

div.wp-one-page-checkout-popup.opc .active .step-title .number {
    background-position: -75px 0px;
    float:right;
    margin:0;
    cursor:pointer;
}

.onepagecheckout-overlay {
    position:fixed;
    left:0;
    top:0;
    z-index:99999;
    background:#000;
    opacity:0.6;
    filter:alpha(opacity=60);
    width:100%;
    height:100%;
    _position:absolute;
}

.onepagecheckout .form-list li.control {
    margin:0;
}

.onepagecheckout.opc .checkout-agreements li {
    margin: 0;
}

div.wp-one-page-checkout-popup.opc .buttons-set.login {
    padding-top: 5px;
}

#login_spacer {
    clear:both;
    height:15px;
}

#login-form {
    text-align:left;
}

#register-customer-password {
    margin-top: 8px;
}

#discount-coupon-form {
    padding: 15px;
}

.onepagecheckout .discount-form label {
    float:left; margin-right: 8px;
}
.onepagecheckout .discount-form button{ margin-top: 4px;}
.onepagecheckout .discount-form .input-box {
    float: left;
    margin-left: 10px;
}

.onepagecheckout .discount-form .input-box .input-text {
    width: 200px;
}

/* .onepagecheckout .discount-form button {
    float: left;
    margin-left: 10px;
} */

.onepagecheckout .validation-advice {
    margin-right: 20px;
}

.onepagecheckout .v-fix .validation-advice {
    margin-right: -9em;
    width: 9em;
}

#advice-required-entry-ccsave_cc_cid {
    margin-right: -20em;
    width: 20em;
}
#around_billing select option.area{
    font-weight: bold !important;
    
}
.form-list label em.required{
    color: #EB340A
}